#goals {
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

#goal-form {
  width: 30rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(139, 0, 93, 0.2);
  background: white;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: rgb(31, 31, 31);
}

body {
  margin: 0;
}
